@font-face {
    font-family: APPLE-2-BASIC;
    src: url(fonts/APPLE-II/Apple\ II\ Display\ Pro.otf);
}

@font-face {
    font-family: APPLE-2-PARAGRAPH;
    src: url(fonts/APPLE-II/Apple\ II\ Display\ NEG\ Pro.otf);
}

@font-face {
    font-family: APPLE-2-DISPLAY;
    src: url(fonts/APPLE-II/Apple\ II\ NEG\ Pro.otf);
}

body {
    font-family: APPLE-2-BASIC;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: start;
    text-align-last: left;
}
@media only screen and (max-width: 600px) {
    #navbar {
        font-size: medium;
        font-weight: 500;
    }
}
